
body, html {
  padding: 0px;
  margin: 0px;

  display: flex;
  flex-direction: column;
  height: 100vh;
}

.shader-editor {
  flex: 1 0;
}

.shader-editor {
  display: flex;
  flex-direction: row;
}

.shader-editor .CodeMirror {
  height: 100%;
}

.shader-editor-textedit {
  flex: 1 1;
}


.shader-editor-preview {
  flex: 0 0;
  flex-basis: 480px;

  background: black;
}

